<h1>This is my web servers</h1>

<h1>my webserver os is: {{ansible_os_family}}</h1>
<h1>my webserver ip is: {{ansible_all_ipv4_addresses}}</h1>
<h1>my java pack is: {{myjavaonUbuntu}}</h1>
<h1>my webserver pack: {{mywebpackonubuntu}}</h1>